<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Clavam day App.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>46EF0C631E7517320021BCF2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>46EF0C7A1E7517340021BCF2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>46EF0C851E7517340021BCF2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
